# Env & secrets
.env
*.pem
*.exe

# Go
backend/bin/
backend/vendor/
backend/*.exe

# Node
admin/node_modules/
admin/dist/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock

# IDE
.idea/
.vscode/
*.iml

uploads/
backend/uploads/
